@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@font-face {
  font-family: FTG;
  src: url("../files/FrederickatheGreat-Regular.ttf");
}

*{
	margin: 0px;
	padding: 0px;
	font-family: Montserrat;
}
#container{
	position: relative;
}
#rain{
	position: absolute;
}
#menu{
	position: absolute;
	background-image: linear-gradient(90deg,rgba(221,221,221,1), rgba(221,221,221,1) 25%, rgba(0,0,0,0));
	display:none;
}

#scene{
	position: absolute;
	background-image: linear-gradient(90deg,rgba(221,221,221,1), rgba(221,221,221,1) 25%, rgba(0,0,0,0));
	display:none;
}

.menutitle{

	font-size: 64;
	margin: 8px;
	font-family: FTG;
	
	color: #000000;
}


.options>div{
	margin-top: 8px;
	padding: 4px;
	color: #2b2b2b;
	width: fit-content;
	border-radius: 8px;
	font-size: 20px;
}
.options div:hover{
	background-color: #2b2b2b;
	color: #dddddd;
}

#defaults{
	font-size: 32px;
	cursor: pointer;
}

#generate{
	cursor: pointer;
	font-size: 32px;
}

#sound{
	position: absolute;
	background-image: linear-gradient(90deg,rgba(221,221,221,1), rgba(221,221,221,1) 25%, rgba(0,0,0,0));
	display:none;
}

.bigInput{
	width: 1.5em;
	height: 1.5em;
}