@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@font-face {
  font-family: FTG;
  src: url("../files/FrederickatheGreat-Regular.ttf");
}

*{
	margin: 0px;
	padding: 0px;
	font-family: Montserrat;
}
#container{
	position: relative;
}
#rain{
	position: absolute;
}
#menu{
	position: absolute;
	background-color: #959595;
	border-radius: 0px 50px 50px 0px;
	display: none;
}

#scene{
	position: absolute;
	background-color: #959595;
	border-radius: 0px 50px 50px 0px;
	display: none;
}

.menutitle{

	font-size: 64;
	margin: 8px;
	
	
	color: #2b2b2b;
}


.options>div{
	margin-top: 8px;
	padding: 4px;
	color: #2b2b2b;
	width: fit-content;
	border-radius: 8px;
	font-size: 20px;
}
.options div:hover{
	background-color: #2b2b2b;
	color: #dddddd;
}

#defaults{
	
	cursor: pointer;
}

#generate{
	cursor: pointer;
}

#sound{
	position: absolute;
	background-color: #dddddd;
	border-radius: 0px 50px 50px 0px;
	box-shadow: -8px 0px 32px 16px #959595;
	display:none;
}

.bigInput{
	width: 1.5em;
	height: 1.5em;
}

